/**
* 2019-01-14 16:23:55
* LMS
*/

$primary: #765AD3;
$info: #58C2D6;
$danger:#da4949;
$success:#11bf77;
$warning:#e7ae31;
$secondary: #9D5AD3;
$dark: #1A191B;
$light:#F6F6F8;

$cyan: #11B8D5;
$blue:#0A6AE7;
$dark-blue: #37445C;
$midnight:#3C1E84;
$darkorchid: #5F31B9;

$white:#fff;
