@import "purple-admin-variables";

body {
	font-family: $font-family-serif;
	font-weight: normal;
	background: #f0f0f0;
	color: #525252;
	font-size: $font-size;
}

.bg-light {
	background: $light;
}

.dark-blue {
	color: $dark-blue;
}

.divider-wrap {
	padding: 16px 20px;
}

.divider {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.09);
}

.page-wrapper {
	.header {
		&.topbar {
			width: 100%;
			padding-left: 250px;
			transition: ease 1s;


			.navbar {
				background: #ffffff;
			}
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					color: #a9a9a9;

					&.toggler {
						color: $cyan;
					}

					i {
						font-weight: bold;
					}
				}
			}
		}
	}

	.sidebar {
		background-image: linear-gradient(to bottom,
			#3c1e84,
			#442391,
			#4d279e,
			#562cab,
			#5f31b9);
		min-height: 100vh;
		height: 100%;
		width: 250px;
		position: relative;

		.sidebar-header {
			display: flex;
			flex-direction: row;
			padding: 16px 20px 0px;

			.logo-img {
				width: 50px;
			}

			.site-title {
				color: #ab94e2;
			}

			.logo-txt {
				display: flex;
				flex-direction: column;
				align-self: center;
				padding-left: 16px;
				font-size: 21px;

				.site-title {
					color: #e8e6ea;
				}

				.site-subtitle {
					color: #b95de4;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}

		// sidebarContent
		.sidebar-content {
			.sidebar-menu {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					a {
						padding: 10px 20px;
						display: inherit;
						color: #c7b0e6;
						border-right: 3px solid transparent;
						transition: 0.5s;

						&.active {
							text-decoration: none;
							color: $white;
							border-right: 3px solid $primary;
							transition: 0.5s;
						}

						span.menu-icon {
							font-weight: bold;
						}

						&:hover {
							text-decoration: none;
							color: $white;
							border-right: 3px solid $primary;
							transition: 0.5s;
						}
					}
				}
			}
		}

		.sidebar-footer {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 250px;
			background: rgba(0, 0, 0, 0.2);

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				li {
					a {
						padding: 15px 20px;
						display: inherit;
						color: #a088ab;

						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}

	.content {
		min-width: 100%;
		padding-left: 250px;
		transition: ease 1s;

	}
}

// fixed sidebar and nav

body.fixed-siebar {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

body.fixed-topbar {
	.topbar {
		position: fixed;
		z-index: 100;
	}

	.sidebar {
		z-index: 101;
	}

	.content {
		padding-top: 65px;

		.content-wrapper {
			padding-left: 8px;
			padding-right: 8px;
			min-height: 530px;
		}
	}
}

.hideSidebar {
	padding-left: 0 !important;
	transition: ease 1s;
}

// media screen for large
@media screen and (min-width: 1441px) {
	$padding: 20px 32px;

	body {
		font-size: $font-size-28;
	}

	.container-fluid {
		padding: $padding;
	}

	.divider-wrap {
		padding: 32px 40px;
	}

	.page-wrapper {

		.header {
			&.topbar {
				width: 100%;
				padding-left: 450px;

				.navbar {
					background: #ffffff;
					padding: $padding;
				}
			}
		}


		.sidebar {
			width: 450px;

			.sidebar-header {
				padding: 32px 40px;

				.logo-img {
					width: 100px;
				}

				.logo-txt {
					.site-title {
						font-size: 40px;
					}

					.site-subtitle {
						font-size: $font-size-28;
					}
				}
			}

			.sidebar-content {
				.sidebar-menu {
					li a {
						padding: 20px 40px;
					}
				}
			}

			.sidebar-footer {
				max-width: 450px;
			}
		}

		.content {
			min-width: 100%;
			padding-left: 450px;

			.content-wrapper {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	body.fixed-topbar {
		.content {
			padding-top: 98px;
		}
	}
}
